html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

.main {
    margin: auto;
    width:500px;
    padding: 10px;
}

#oldagram-logo {
    width: 150px;
}

header {
    display: flex;
    justify-content: space-between;
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
}

#avatar-vangogh {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    display: flex;
    padding:10px;
    margin-top: 20px;
}
h3, p {
    margin:0;
    padding: 0;
}
.section-one {
    margin: 5px 10px ;
    text-align: left;
}

.small-text {
    font-size: 16px;
    margin-top: 4px;
}

#post-vangogh {
    width: 500px;
}

.icon-heart, .icon-comment, .icon-dm {
    width: 30px;
}
.section-two {
    margin: 25px 5px 15px;
}

.icon-comment {
    margin: 0 10px
}

h4 {
    margin: 10px 0;
}

.bold-text {
    font-weight: 700;
}

.icon-heart:hover,
.icon-comment:hover,
.icon-dm:hover {
    opacity: 0.5;
}


