html, body {
    margin: 0;
    padding: 0;
}

.main {
    margin: auto;
    width:500px
}

#oldagram-logo {
    width: 200px;
}

#avatar-vangogh {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    display: flex;
    padding:10px;
}
h3, p {
    margin:0;
    padding: 0;
}
.section-one {
    margin: 5px 10px ;
    text-align: left;
}

.small-text {
    font-size: 16px;
    margin-top: 4px;
    margin-left:4px;
}

#post-vangogh {
    width: 500px;
}

.icon-heart, .icon-comment, .icon-dm {
    width: 30px;
}
.section-two {
    margin: 25px 5px;
}
.icon-comment {
    margin: 0 10px
}


